html {
    background: url('../images/nature.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent;
}

.jumbotron {
    background-image: url('../images/jungle.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;  
}

.list-group-item.active{
    background-color: forestgreen !important;

}

.btn {
    background-color: white;
}

.winner-image img {
    float: left;
}

p.winner-trivia {
    margin-left: 35%;
}